        .post {
            display: none;

            .post-date {
                text-align: center;
                font-weight: $font-normal;
                font-size: 12px;
                text-transform: lowercase;
                color: $color-grey;
                letter-spacing: 1px;
                line-height: 1.1;
            }

            .post-title {
                margin-top: 0.2em;
                text-align: center;
                font-weight: $font-semibold;
                font-size: 25px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }

            .post-wrap {
                margin: 25px 0;

                .post-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding-bottom: 10px;
                }

                .post-author {
                    color: $color-grey;
                    margin-bottom: 20px;
                }

                .post-tags {
                    margin: 20px 0;

                    ul {
                        @include flex(row, center, flex-start);
                        flex-wrap: wrap;

                        li {
                            margin-right: 15px;
                            a {
                                color: $color-dark;
                                transition: $transition;

                                &:hover {
                                    color: $color-main;

                                }
                            }
                        }
                    }
                }

            }

        }