@import './mixins';
@import './variables';

nav {
  position: fixed;
  width: 100%;
  padding: 1em 0em 0.3em 0em;
  border-bottom: 1px solid $color-underline;
  background-color: $color-light;

  ul {
    @include flex(row, center, center);
    margin-bottom: 10px;
    flex-wrap: wrap;

    li {
      a {
        @include btn($color-light, $color-dark, transparent);
        z-index: 10;
      }
    }
  }
}

.blog header {
  padding: 150px 0 70px;
  @include flex(column, center, center);
  @include md-max {
    padding-bottom: 20px;
  }
}

.blog-wrapper {
  @include flex(row, stretch, space-between);
  flex-wrap: no-wrap;
  min-height: 67vh;

  @include md-max {
    // display: none;
    flex-direction: column-reverse;
  }

  .posts,
  .sidebar {
    margin: 4em 0em;
    @include md-max {
      margin: 4rem 0 0rem 0rem;
    }
  }

  .posts {
    width: 63%;
    @include md-max {
      width: 100%;
    }
  }

  .sidebar {
    width: 30%;
    @include md-max {
      width: 100%;
    }
  }
}
