/* Variables */

$color-light: #fff;
$color-dark: #1B1B1B;
$color-grey: #F1F1F1;
$color-bckg: #F5F5F5;
$color-main: #5AE9C8;
$color-black: #000000;

$font-header: 'Amatic SC', cursive;
$font-text: 'Karla', sans-serif;

